In [1]:
import numpy as np

import pandas as pd

df = pd.read_csv("budget_data.csv")

total_months = len(df)
total_profit_losses = df['Profit/Losses'].sum()
difference = np.diff(df['Profit/Losses']).mean()
greatest_largest = df.nlargest(1,'Profit/Losses')




print("Financial Analysis")
print("----------------------------")
print("Total months:", total_months)
print("Total:", total_profit_losses)
print("Average Change:", difference)
print("Greast Increase in Profits:")
print(greatest_largest)
df

#df.sum(axis = 0, skipna = True)

Financial Analysis
----------------------------
Total months: 86
Total: 38382578
Average Change: -2315.1176470588234
Greast Increase in Profits:
        Date  Profit/Losses
25  Feb-2012        1170593

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]